.label1
{
    font-size: 30px;
    color: aliceblue;
    font-family: 'Pirata One', cursive;
}

.identify_label
{
    font-size: 30px;
    color: aliceblue;
    font-family: 'Pirata One', cursive;
}